name: Build and test

# Controls when the action will run.
on:
  # Triggers the workflow on push and pull request events
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - uses: bufbuild/buf-setup-action@v1.50.0
        with:
          version: 1.65.0

      - name: Installing protoc plugins
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: Running linter
        run: buf lint

      - name: Generating messages and stubs
        run: buf generate

      - name: Build go
        run: go build ./...

      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build payment (Java)
        run: |
          cd payment
          ./mvnw package
